<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %} | SpearMint</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="charset" content="utf-8">
        <link type="text/css" rel="stylesheet" href="{{ STATIC_DIR }}css/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="{{ STATIC_DIR }}font/stylesheet.css">
        <link type="text/css" rel="stylesheet" href="{{ STATIC_DIR }}css/screen.css">
        <link type="text/css" rel="stylesheet" href="{{ STATIC_DIR }}css/bootstrap-responsive.css">
        <script type="text/javascript" src="{{ STATIC_DIR }}js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_DIR }}js/bootstrap-dropdown.js"></script>

        <style>.noscript { display: none; }</style>
        <noscript><style>.noscript { display: inline; }</style></noscript>

        {% block head %}
        {% endblock head %}
    </head>

    <body>
        <div class="container page">
            {% block content %}
            {% endblock content %}
        </div><!-- /.page -->
        <footer class="page-footer">
        &copy; SpearMint 2012
        </footer>
    </body>
</html>
