{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %} | SpearMint</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <!--[if lt IE 9]>
        <script src="{% static 'ie/IE9.js' %}"></script>
        <script src="{% static 'ie/ie7-squish.js' %}"></script>
        <![endif]-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'font/stylesheet.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/screen.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">
        <script type="text/javascript" src="{% static 'js/jquery-1.7.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-dropdown.js' %}"></script>

        <style type="text/css">.noscript { display: none; }</style>
        <noscript><style type="text/css">.noscript { display: inline; }</style></noscript>

        {% block head %}
        {% endblock head %}
    </head>

    <body>
        <div class="container page">
            {% block content %}
            {% endblock content %}
        </div><!-- /.page -->
        <footer class="page-footer">
        &copy; SpearMint 2012
        </footer>
    </body>
</html>
